{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <div class="medium-12 large-12 columns">
        <h4>Clients</h4>
        <div class="medium-2  columns"><a class="button" href="#">ADD NEW CLIENT</a></div>

        <table class="stack">
          <thead>
            <tr>
              <th width="200">Name</th>
              <th width="200">Email</th>
              <th width="200">Action</th>
            </tr>
          </thead>

          {% for client in clients %}
              <tr>
                <td>{{ client.title | capitalize}}. {{ client.name }} {{ client.last_name }}</td>
                <td>{{ client.email }}</td>
                <td>
                  <a class="hollow button" href="/client/edit">EDIT</a>
                  <a class="hollow button warning" href="{{ path("booking",{'id_client': 1 }) }}">BOOK A ROOM</a>
                </td>
              </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
